@media screen and (min-width: 18 * $column-with-gutter) {
  .container {
    @include width(18);
  }

  .menu-icon {
    display: none;
  }

  section.intro {
    @include width(6);

    .scheudule {
      display: none;
    }
  }

  nav {
    @include width(18);
    display: block;

    ul {
      @include width(6);
      list-style: none;
      position: absolute;
      top: 3rem;
      right: 0;

      li {
        display: inline-block;
      }

      li+li:before
      {
        content: '/';
        padding: 0 5px;
      }
    }
  }

  .links {
    background: none;

    .new-talent-awards, .the-future-of-sound, .sound-art {
      @include width(6);
      display: inline-block;
      background-size: cover;
      height: 250px;
      text-align: left;
      border-radius: 0;

      a {
        border: 0;
        background: $purple;
        display: inline;
        padding: 0.5rem 2rem;
      }

      a:hover {
        background: $purple;
      }
    }

    .the-future-of-sound, .sound-art {
      margin-left: $gutter;
    }

    .new-talent-awards {
      background-image: url('/images/girl-lens-flare.jpg');
    }

    .the-future-of-sound {
      background-image: url('/images/mixing-desk.jpg');
    }

    .sound-art {
      background-image: url('/images/seagulls-pier.jpg');
    }
  }
}
